*{
    
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0rem;
    margin: 0rem;
    
    /* outline: 1px solid red; */
}
html{
    position: absolute;
    background: #FFFFFF;
    width: 100%;
    height: 100%;
    font-weight: 400;
}
body{
    font-size: 16px;
}


/* header */

header{
    color: rgb(255, 255, 255);
}
    
    /* top */
.top{
    /* Rectangle 1 */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    font-style: normal;
    font-weight: 400;
    font-size: 0.6rem;
    line-height: 0.8rem;
    color: #F3F3F3;
    background: #222222;
}
.top-left-side{
    display: flex;
}
.top-lista{
    margin-left: 0.6rem;
    margin-right:0.6rem;
}
.top-lista ul{
    display: flex;
    list-style: none;
    gap: 1em;
}


 /* LOGO AND NAVBAR */


.nav{
    background-color:#F0A83E;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
div.nav-menu{
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 0.9rem;
    font-style: normal;
}
.nav-menu ul{
    display: flex;
    align-items: center;
    gap: 0.6rem;
    list-style: none;
    padding: 1.5rem 0.8rem;
}
.nav-menu a{
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 0.9rem;
    font-style: normal;
    color: #F3F3F3;
}
div.nav-menu img{
    width: 0.9rem;
    height: 0.9rem;
}
div.nav-logo a{
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.4rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
div.nav-logo span{
    color:rgba(60, 35, 19, 1);
}


/* main */

.slide-background{
    background-image: url('../img/bowl-and-pet-daities-on-green-background\ 1.png');
    background-size: cover;
    width: 100%;
    height: 409px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    
}
.slide-text{
    width: 22.8rem;
    height: 5.31rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;

}
.slide-text button{
    background: #F0A83E;
    border-radius: 0.31rem;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.18rem;
    padding: 0.9rem 1.4rem;
}
.slide-text a{
    
}

.rectangle5{
    height: 54px;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 0.56rem 0.6rem 0.6rem;
    width: 100%;
}
.rectangle5 span{
    font-style: normal;
    font-weight: 400;
    font-size: 1.68rem;
    line-height: 35px;
    text-align: center;

color: #3C2313;
}

/* PRODUCTOS DESTACADOS */

.productos-destacados{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    padding-top: 1.56rem;
    padding-bottom: 1.56rem;
}
.productos-destacados img{
    width: 4.1rem;
    height: 4.4rem;
}
.productos-destacados a{
    text-decoration: none;
}
.section-2{
    display:flex;
    flex-direction: row;
    gap: 1.25rem;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 1.56rem;
    padding-bottom: 1.56rem;
}

.section-2 article{
    background-color:#FBFAF6;
    font-size: 0.9rem;
    line-height: 1.1rem;
    text-align: center;
    color: #F0A83E;
}
.section-2 article p{
    font-weight: 700;
    text-align: center;
    color: #3c1313;
}
.precio p{
    
}

/* CONTACTANOS */

.contactanos{
    
}

.contactanos p{
    color: #3C2313;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.563em;
    line-height: 1.813em;
    
}

.contactanos form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3.1rem;
    padding-bottom: 2.4rem;
    gap: 0.625rem;
    
    
}


.form-inputs{
    background: #3C2313;
    border-radius: 0.9rem;
    font-size: 0.56rem;
    line-height: 0.68rem;
    color: #FFFFFF;
    padding-left: 0.875rem;
    padding-right: 0.875rem;;
    width: 21.2rem;
    height: 2.5rem;
    border: none;
}
.form-inputs::placeholder{
    font-size: 0.563rem;
    line-height: 0.688rem;
    padding-left: 0.875rem;
    color: #FFFFFF;
}

.form-btn1{
    width: 6.8rem;
    height: 2.1rem;
    border-radius: 15px;
    border-style: none;
    background: #8A8787;
    cursor: pointer;

}
.form-btn1,.form-btn2{
    font-size: 1rem;
    line-height: 1.18rem;
    color: #FFFFFF;
}
.form-btn2{
    width: 6.8rem;
    height: 2.1rem;
    border-radius: 15px;
    border-style: none;
    background: #F0A83E;
    cursor: pointer;
    
    

}


/* FOOTER */
/* SUSCRIBCION */


footer div.suscribcion{
    background-color: rgba(240, 168, 62, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.6rem 1.5rem;
}

.correo-sub{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.6rem;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.43rem;

color: #FFFFFF;
}
.suscribcion form input{
    width: 17rem;
    height: 2.5rem;
    background: #FFFFFF;
    border-radius: 1rem;
    border-style: none;
}
.suscribcion form button{
    width: 4.3rem;
    height: 2.1rem;
    background: #3C2313;
    border-radius: 1rem;
    border-style: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 0.5rem;
    line-height: 0.7rem;
    color: #FFFFFF;
    padding: 0.6rem;
}
.suscribcion form button::placeholder{
    font-size: 0.5rem;
    line-height: 0.7rem;
    color: #FFFFFF;
    padding: 0.9rem;
}
/* ABOUT MY */


.about{
    background-color:#3C2313;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}
.box-line{
    display: flex;
    flex-direction: row;
}
        /* ICONOS Y CIRCULOS */
.border-circle{
    position: relative;
    width: 4.1rem;
    height: 4.1rem;
    bottom: 0.06rem;
    background-color: #786960;
    border-radius: 3.1rem;
    margin: 1.4rem 0.8rem 1.25rem 4.3rem;
}
.circle{
    position: absolute;
    width: 3.6rem;
    height: 3.6rem;
    left: 0.25rem;
    bottom: 0.25rem;
    border-radius: 1.84rem;
    background-color: #8A8787;
}
.img-about-location{
    position: absolute;
    left: 0.3rem;
    top: 0.3rem;
}
.img-about-phone{
    position: absolute;
    left: 0.3rem;
    top: 0.3rem;
}
.img-about-email{
    position: absolute;
    left: 0.56rem;
    top: 0.68rem;
}
div.box-line p{
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.4rem;
    color: #FFFFFF;
    margin-top: 1.4rem;
}
div.box-line i{
    font-style: normal;
    font-weight: 700;
    font-size: 0.6rem;
    line-height: 0.8rem;
    color: #8A8787;
}

/* footer logo */
div.footer-logo a{
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.4rem;
    text-decoration: none;
    color:#F0A83E;
}
div.footer-logo span{
    color:#FFFFFF;
}
div.footer-logo{
    display: flex;
    align-items: center;
    padding-right:4.3rem;
}


/* derechos */




div.Derechos{
    background: #222222;
    padding: 0.3rem 26rem;
    width: 100%;
    text-align: center;
    padding: 0.25rem;
}
div.Derechos p{
    font-style: normal;
    font-weight: 700;
    font-size: 0.6rem;
    line-height: 0.8rem;
    color: #FFFFFF;
}
